@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html, body {
    background: linear-gradient(360deg, rgba(42,21,60,1) 2%, rgba(182,154,194,1) 100%);
    color: rgba(42, 21, 60, 0.5);
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}

header, main{
    padding: 1rem 2rem;    
}

header {
    width: calc(50vw - 4rem);
}

@media (orientation: portrait) {
    header {
        width: calc(90vw - 4rem);
    }
}

main{
    width: calc(90vw - 4rem);
    padding-bottom: 10vh;   
}

h1 {
    font-size: calc(1rem + 2vw);
    text-shadow: 0 0 5px rgba(10, 20, 30, 0.5);
    font-weight: normal;
    margin-left: -5px;
    line-height: 1;
}

h2 {
    font-size: calc(1rem + 1vw);
    text-shadow: 0 0 5px rgba(10, 20, 30, 0.3);
    line-height: 1;
}

select{
    padding:0.25rem;
}

a {
    color: #b69ac2;
    text-decoration: underline;
}

a:hover {
    color: #e864c5;
    text-decoration: underline overline;
}

main div{
    width:24%;
    margin:2% 1% 0 0;
    background:black;
    display:inline-block;
    vertical-align: bottom;
    overflow: hidden;
}

@media (orientation: portrait) {
    main div {
        width:49%;
    }
}

main div img{
    width:100%;
}

main div p{
    text-align: center;
    margin-top:0;
    margin-bottom:.5rem;
    padding:0;
}

.esconde{
    display: none;
}